.home-cards {
    /* border: 1px solid green; */
    box-shadow: 0px 2px 4px black !important;
}

.outerlatestUpdate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.innerlatestUpdate {
    display: flex;
    justify-content: space-between;
}